.place-one {
    background-color: #fff;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
}
.place-one:hover {
  background-color: #D3D3D3;
}
.place-one > div {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    max-width: 225px;
}
.place-one div h3 {
    display: inline-block;
    font-size: 1rem;
    vertical-align: top;
    margin: 0;
}
.place-one div p {
    font-size: .8rem;
    margin: 0;
}
.rating {
    float: right;
    margin: 5px;
    padding: 5px 8px;
    background-color: #1e615f;
    border-radius: 2px;
    color: #fff;
}
.place-one img {
    width: 50px;
    height: 50px;
    margin: 20px;
}
.suc-text {
    color: green;
}
.err-text {
    color: red;
}
.low-rating {
    background-color: red;
}
.medium-rating {
    background-color: yellow;
    color: black;
}
.good-rating {
    background-color: orange;
}
.great-rating {
    background-color: green;
}
.button-sml-grn {
    margin: 3px;
    padding: 5px 10px;
    height: 40px;
}
