<div class="place-one">
  <ng-container *ngIf="place.rating != undefined">
    <ng-container [ngSwitch]="true">
      <ng-container *ngSwitchCase="testRating(place.rating) == 'low'">
        <p class="rating low-rating">{{ place.rating }}</p>
      </ng-container>
      <ng-container *ngSwitchCase="testRating(place.rating) == 'medium'">
        <p class="rating medium-rating">{{ place.rating }}</p>
      </ng-container>
      <ng-container *ngSwitchCase="testRating(place.rating) == 'good'">
        <p class="rating good-rating">{{ place.rating }}</p>
      </ng-container>
      <ng-container *ngSwitchCase="testRating(place.rating) == 'high'">
        <p class="rating great-rating">{{ place.rating }}</p>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="place.rating == undefined">
    <p class="rating no-rating">0</p>
  </ng-container>
  <img src="{{ place.icon }}" alt="">
  <div>
    <h3>{{ place.name}}</h3>
    <p>{{ place.vicinity }}</p>
    <ng-container *ngIf="place.opening_hours != undefined">
      <ng-container *ngIf="place.opening_hours.open_now == true">
        <p class="suc-text">Open Now!</p>
      </ng-container>
      <ng-container *ngIf="place.opening_hours.open_now == false">
        <p class="err-text">Closed</p>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="place.opening_hours == undefined">
      <p class="err-text">Hours Unavailable</p>
    </ng-container>
  </div>
</div>