.go {
  background-color: #367f4a;
}

.dropdown-list {
  display: inline-block;
  list-style: none;
  padding-left: 0;
  position: absolute;
  left: -10000px;
  margin-top: 0.25em;
  height: 3em;
  overflow: scroll;
  overflow-x: hidden;
}

fieldset {
  border: 0;
}

li input.form-control {
  display: inline-block;
  width: 20%;
}