<div class="dashboard">
  <nav>
    <div class="logo-container">
      <a [routerLink]="['/']">
        <h1 class="logo-icon">Backseat</h1>
        <h1 class="logo-icon-sml">Driver</h1>
      </a>
    </div>
    <div class="search-inputs">
      <select class="input-sml">
        <option value="food">Food</option>
        <option value="food">Entertainment</option>
      </select>
      <input type="text" placeholder="Search" class="input-sml" name="search">
      <input type="submit" class="button-sml" value="Go">
    </div>
    <div class="float-right">
      <a>
        <button class="button-sml">My Pins</button>
      </a>
      <a (click)="onLogoutClick()">
        <button class="button-sml-red">Logout</button>
      </a>
    </div>
    
  </nav>
  <div class="places">
    <h2>Places, test to see width of bar and overlapping of elements</h2>
    <h2>Places, test to see width of bar and overlapping of elements</h2>
    <h2>Places, test to see width of bar and overlapping of elements</h2>
    <h2>Places, test to see width of bar and overlapping of elements</h2>
    <h2>Places, test to see width of bar and overlapping of elements</h2>
    <h2>Places, test to see width of bar and overlapping of elements</h2>
    <h2>Places, test to see width of bar and overlapping of elements</h2>
  </div>
  <div class="map">
    <h2>Map</h2>
  </div>
</div>
