.dashboard {
    height: 97vh;
    width: 97vw;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}
.dashboard nav {
    background-color: #367f4a;
    min-width: 50px;
    margin: 0;
    padding: 0;
    height: 60px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
}
.places {
    width: 380px;
    margin: 0;
    float: right;
    background-color: #367f4a;
}
.map {
    display: inline-block;
    height: calc(100% - 60px);
    width: calc(100% -  380px);
    z-index: -1;
    margin: 0;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}
.logo-container {
    margin: 0 15px;
    margin-top: 12px;
}
.input, .input-sml {
    margin: 10px 2px;
    vertical-align: top;
}
.button-sml, .button-sml-red {
    margin: 10px 5px 10px 5px;
    vertical-align: top;
    height: 40px;
}
.search-inputs {
    vertical-align: top;
    width: 380px;
    height: 90px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: fixed;
    background-color: lightgrey;
    padding: 0 5px;
}
.input-sml {
    width: 135px;
}
.tags {
    height: calc(100% - 150px);
    margin: 0;
    margin-top: 90px;
    width: 380px;
    float: right;
    overflow: hidden;
    overflow-y: scroll;
}
.swapButton {
    text-align: right;
    background-color: rgb(177, 175, 175);
    border-radius: 2px;
    height: 25px;
    padding: 3px 10px;
    cursor: pointer;
    display: none;
}
.search-inputs > p {
    font-weight: 700;
    color: white;
}
.swapButton p {
    margin: 0;
    color: white;
    font-weight: 700;
    font-size: .9rem;
}
.hide {
    position: absolute;
    left: -10000px;
}
.filter {
    width: 250px;
}
@media all and (max-width: 390px) {
    .places {
        width: 100%;
        height: 90px;
    }
    .tags {
        width: 100%;
        margin-top: 0;
    }
    .search-inputs {
        width: 100%;
    }
    .logo-icon {
        font-size: 1.8rem;
    }
    .logo-icon-sml {
        font-size: 1.25rem;
    }
    .map {
        width: 100%;
        display: block;
        height: calc(100% - 150px);
    }
    .swapButton {
        display: block;
    }
}