<div class="dashboard">
  <nav>
    <div class="logo-container">
      <a [routerLink]="['/']">
        <h1 class="logo-icon">Backseat</h1>
        <h1 class="logo-icon-sml">Driver</h1>
      </a>
    </div>
    <div class="float-right">
      <a *ngIf="!registerService.isValid()">
        <button class="button-sml">My Pins</button>
      </a>
      <a *ngIf="!registerService.isValid()" (click)="onLogoutClick()">
        <button class="button-sml-red">Logout</button>
      </a>
      <a *ngIf="registerService.isValid()" [routerLink]="['/login']">
        <button class="button-sml">Login</button>
      </a>
    </div>
  </nav>
  <div class="places">
    <div class="search-inputs">
      <select class="input-sml">
        <option value="food">Food</option>
        <option value="entertainment">Entertainment</option>
      </select>
      <label for="search" class="sr-only">Search for location:</label>
      <input id="searchField" [(ngModel)]="searchFilter" type="text" placeholder="Search" class="input-sml" name="search">
      <input (click)="onSearch()" type="submit" class="button-sml" value="Go">
      <a (click)="swapTags()" class="swapButton">Show/Hide Tags</a>
    </div>
    <div id="tags" class="tags">
        <app-places></app-places>
    </div>
  </div>
  <!--<div class="map">-->
  <app-map class="map"></app-map>
  <!--</div>-->
</div>
