<div class="container landing">
    <div>
        <div class="logo-container">
            <a [routerLink]="['/']">
                <h1 class="logo">Backseat</h1>
                <h1 class="logo-sml">Driver</h1>
            </a>
        </div>
        <h2 class="tagline">Because you needed another
            <br />person telling you where to go...</h2>
        <label for="filter" class="sr-only">Select a category</label>
        <select class="input" name="filter" [(ngModel)]="searchFilter">
            <option value="food">Food</option>
            <option value="Entertainment">Entertainment</option>
        </select>
        <div class="placeSearch">
            <label for="gps" class="sr-only">Use my location</label>
            <input id="gps" (click)="useGps()" type="submit" class="button-lrg nearMe" value="Near Me" name="gps">
            <p class="or">or</p>
            <label for="search" class="sr-only">Search for location</label>
            <input id="searchField" [(ngModel)]="userLoc" type="text" placeholder="Search by address or city..." class="input search" name="search">
        </div>
        <input (click)="onSearch()" type="submit" class="button-lrg go" value="Go">
    </div>
    <!--<flash-messages></flash-messages>-->
    <div class="options">
        <a *ngIf="!registerService.isValid()" [routerLink]="['/login']"><button class="button-sml">Login</button></a>
        <a *ngIf="!registerService.isValid()" [routerLink]="['/register']"><button class="button-sml">Sign up</button></a>
        <a *ngIf="registerService.isValid()" (click)="onLogoutClick()"><button class="button-sml">Logout</button></a>
    </div>
</div>
