<div class="container landing">
    <div>
        <div class="logo-container">
            <a [routerLink]="['/']">
                <h1 class="logo">Backseat</h1>
                <h1 class="logo-sml">Driver</h1>
            </a>
        </div>
        <h2 class="tagline">Because you needed another
            <br />person telling you where to go...</h2>
        <input type="submit" class="button-lrg nearMe" value="Near Me">
        <p class="or">or</p>
        <label for="search" class="sr-only">Search for location:</label>
        <input type="text" placeholder="Search by address or city..." class="input search" name="search">
        <input type="submit" class="button-lrg go" value="Go">
    </div>
    <flash-messages></flash-messages>
    <div class="options">
        <a [routerLink]="['/login']"><button class="button-sml">Login</button></a>
        <a [routerLink]="['/register']"><button class="button-sml">Sign up</button></a>
        <a (click)="onLogoutClick()"><button class="button-sml">Logout</button></a>
    </div>
</div>
